DB_HOST="localhost_or_your_specific"
DB_PORT=5432
DB_NAME="your_database_name"
DB_USER="db_username"
DB_PASSWORD="db_password"

SCRAPEOPS_API_KEY = "your_api_key_here"


IPROYAL_USERNAME=your_api_key_here
IPROYAL_PASSWORD=your_password_here
IPROYAL_HOST=geo.iproyal.com
IPROYAL_PORT=12321
IPROYAL_COUNTRY=the_country_you_selected
IPROYAL_PROXY_COUNT=7